*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Sahel;
    background-color: #ffffff;
}

a{
    font-family: Sahel;
    text-decoration: none;
    color: #464646;
    cursor: pointer;
}

select, button{
    font-family: Sahel;
}

ul{
    list-style-type: none;
}

.background-elements{
    position: relative;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    pointer-events: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 0 15px #bdbdbd;
}

.navbar .items .nav-link-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 70%;
}



.nav-link{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 25px;
    /* align-self: center; */
    transition: all .2s;
    height: 30px;
    user-select: none;
}

.nav-link.sub-menu:hover > .sub-menu-list{
    pointer-events: visible;
    visibility: visible;
    opacity: 1;
    transition: all 200ms ease-in-out;
}

.nav-link:hover{
    transform: translateY(2px);
    padding-bottom: 14px;

}

.nav-link::after{
    content: "";
    border-bottom: 2px solid #BD3333;
    display: block;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    padding-bottom: 3px;
}


.nav-link:hover::after{
    transform: scaleX(1);
}


.sub-menu-list{
    background-color: #ffffff;
    box-shadow: 1px 1px 7px #3b3b3b;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    width: 150px;
    height: 300px;
    border-radius: 15px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

}


.nav-link.sub-menu{
    position: relative;

}

.submenu-link a{
    padding: 10px 20px;
    transition: all 252ms;
    border-radius: 10px;
    color: #464646;
    font-size: 18px;
}

.submenu-link a:hover{
    background-color: white;
    color: #BD3333;
    box-shadow: 0 0 7px #9d9d9d;
}



.nav-search{
    width: 30%;
    max-width: 450px;
    height: 75%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.nav-search form{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5%;
    height: 100%;
}

.search-input{
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: solid #464646 2.5px;
    padding: 0 5px;
    outline: 2px solid white;
    transition: all 220ms;
}

.search-input:focus{
    outline: 2px solid rgba(189, 51, 51, 0.5);
    border: solid #BD3333 2.5px;
}

.search-btn{
    width: 10%;
    height: 100%;
    border:none;
    background-color: transparent;
    cursor: pointer;
}

.search-btn i{
    font-size: 30px;
    transition: all .25s;
    padding: 9px;
    border-radius: 5px;
    outline: 2px solid #464646;
}

.search-btn i:hover{
    color: #dadada;
    background-color: #464646;
}

.items{
    display: flex;
    width: 40%;
    justify-content: space-between;
    max-width: 1200px;
}

.logo{
    width: 20%;
    align-self: center;
    padding: 5px 5px 0 0;
    cursor: pointer;
}

.logo img{
    width: 150px;
}

.container-header{
    width: 100%;
    height: 80vh;
    background-color: #fff;
    color: #464646;
    position: relative;
    display: flex;
    z-index: -2;
    box-shadow: 0 0 30px #bdbdbd;
}

.container-header-text{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    user-select: none;
}

.container-header-text h1{
    font-size: 44px;
    margin-bottom: 41px;

}
.container-header-text p{
    font-size: 24px;
}

.container-right-header{
    width: 50%;
    height: 100%;
    background-color: #464646;
}

.container-between-header{
    width: 10%;
    height: 100%;
    background-color: #464646;
    transform: translateX(27%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.header-pink-line-1{
    width: 5px;
    height: 100%;
    background-color: #BD3333;
    position: absolute;
    right: 55.8%;
    top: 0;
    transform: rotate(3.9deg);
}

.header-pink-line-2{
    width: 5px;
    height: 58%;
    background-color: #BD3333;
    position: absolute;
    right: 56.3%;
    top: 21%;
    transform: rotate(3.9deg);
    border-radius: 15px;
}

.container-left-header{
    width: 40%;
    height: 100%;
}

.image-container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.image-header-1,.image-header-2,.image-header-3{
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    box-shadow: 1px 2px 30px #bdbdbd;
}

.image-header-1{
    width: 55%;
    height: 35%;
}

.image-container-header-bottom{
    width: 60%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.image-header-3,.image-header-2{
    width: 40%;
    height: 100%;
}

.textbox-based{
    border-radius: 7px;
    border: solid 2px #464646;
    outline: solid 3px transparent;
    transition: all .2s ease-in-out;
    padding: 0 5px;
    font-size: 16.5px;
    height: 40px;
    margin-bottom: 7px;
}

.textbox-based:hover{
    background-color: rgba(70, 70, 70, 0.1);
}

.textbox-based:focus{
    outline: solid 3px rgba(189, 51, 51, 0.4);
    border: solid 2px #BD3333;
}

.form-container{
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 17px #424242;
    border-radius: 10px;
    width: 28%;
}

.top-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-logo img{
    width: 80%;
    height: 87%;
    object-position: center;
    object-fit: cover;
}

.form-container form{
    display: flex;
    flex-direction: column;
}

.error-text{
    background: #da0e0e;
    color: #fdafaf;
}

.error-text.active{
    padding: 3px 6px;
    border-radius: 4px;
    margin-bottom: 3px;
}

.login-link{
    margin: 7px 5px;
    color: #BD3333;
    font-weight: bold;
}

.submit-btn{
    border: 3px solid transparent;
    font-size: 20px;
    padding: 9px;
    background: #464646;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 350ms;
    font-weight: bold;
}

.submit-btn:hover{
    border: 3.5px solid #464646;
    background: #fff;
    color: #464646;

}




@media only screen and (max-width: 1111px) {
    .form-container{
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    .form-container{
        width: 88%;
    }
}