{% extends "index/base.html" %}
{% load to_persian_number %}
{% block title %}
    {{ city.name }}
{% endblock %}

{% block content %}
    {% if pagin.page_obj %}
        <div class="pagination">
            <ul>
                {% if pagin.before_previous_page != False %}
                    <li class="pagination-item">
                        <a href="{% url 'collection_details' id=city_id page=pagin.before_previous_page.number %}">
                        {{ pagin.before_previous_page.number|to_persian }}
                        </a>
                    </li>
                {% endif %}
                {% if pagin.previous_page != False %}
                    <li class="pagination-item">
                        <a href="{% url 'collection_details' id=city_id page=pagin.previous_page.number %}">
                        {{ pagin.previous_page.number|to_persian }}
                        </a>
                    </li>
                {% endif %}
                <li class="pagination-item disabled"><a href="#">{{ pagin.this_page.number|to_persian }}</a></li>
                {% if pagin.next_page != False %}
                    <li class="pagination-item">
                        <a href="{% url 'collection_details' id=city_id page=pagin.next_page.number %}">
                        {{ pagin.next_page.number|to_persian }}
                        </a>
                    </li>
                {% endif %}
                {% if pagin.after_next_page != False %}
                    <li class="pagination-item">
                        <a href="{% url 'collection_details' id=city_id page=pagin.after_next_page.number %}">
                        {{ pagin.after_next_page.number|to_persian }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}