{% extends "index/base.html" %}
{% load static %}
{% load to_persian_number %}

{% block title %}
	{{ search }}
{% endblock %}

{% block content %}
    {% if pagin.page_obj %}
        <div class="pagination">
            <ul>
                {% if pagin.before_previous_page != False %}
                    <li class="pagination-item">
                        <a href="{% url 'search' %}page/{{ pagin.before_previous_page.number }}/?search={{ search }}">
                        {{ pagin.before_previous_page.number|to_persian }}
                        </a>
                    </li>
                {% endif %}
                {% if pagin.previous_page != False %}
                    <li class="pagination-item">
                        <a href="{% url 'search' %}page/{{ pagin.previous_page.number }}/?search={{ search }}">
                        {{ pagin.previous_page.number|to_persian }}
                        </a>
                    </li>
                {% endif %}
                <li class="pagination-item disabled"><a href="#">{{ pagin.this_page.number|to_persian }}</a></li>
                {% if pagin.next_page != False %}
                    <li class="pagination-item">
                        <a href="{% url 'search' %}page/{{ pagin.next_page.number }}/?search={{ search }}">
                        {{ pagin.next_page.number|to_persian }}
                        </a>
                    </li>
                {% endif %}
                {% if pagin.after_next_page != False %}
                    <li class="pagination-item">
                        <a href="{% url 'search' %}page/{{ pagin.after_next_page.number }}/?search={{ search }}">
                        {{ pagin.after_next_page.number|to_persian }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}



{#<!doctype html>#}
{#<html lang="fa" dir="rtl">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
{#    <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#    <title>Header</title>#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#    <link rel="stylesheet" href="{% static 'fonts/sahel-font-v3.4.0/sahel-fonts.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'index/styles/header-style.css' %}">#}
{#        {% include "inc/main_site/navbar_footer_link.html" %}#}
{#</head>#}
{#<body>#}
{#      {% include "index/../inc/main_site/navbar.html" %}#}
{#    <div class="main-content">#}
{#        <section class="main-section">#}
{#            <div class="based-top-3-section based-product-section">#}
{#                <h5>پرفروش ترین شیرینی ها</h5>#}
{#                <ul>#}
{#                    <li class="top-3-section-link"><a href="">نون خامه ای</a></li>#}
{#                    <li class="top-3-section-link"><a href="">ناپلونی</a></li>#}
{#                    <li class="top-3-section-link"><a href="">رولت</a></li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="based-top-3-section based-product-section">#}
{#                <h5>پرفروش ترین تنقلات</h5>#}
{#                <ul>#}
{#                    <li class="top-3-section-link"><a href="">پاستیل هاریبو</a></li>#}
{#                    <li class="top-3-section-link"><a href="">پاستیل نوشابه ای</a></li>#}
{#                    <li class="top-3-section-link"><a href="">پاستیل شیبابا</a></li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="based-top-3-section based-product-section">#}
{#                <h5>پرفروش ترین خشکبار</h5>#}
{#                <ul>#}
{#                    <li class="top-3-section-link"><a href="">پست تبریز</a></li>#}
{#                    <li class="top-3-section-link"><a href="">تخمه آفتاب گردان</a></li>#}
{#                    <li class="top-3-section-link"><a href="">بادام هندی</a></li>#}
{#                </ul>#}
{#            </div>#}
{#        </section>#}
{#        <div class="content-overall">#}
{#            <div class="content-list">#}
{#                {% if pagin.page_obj %}#}
{#                	{% for product in pagin.this_page.object_list %}#}
{#                        <div class="content-box">#}
{#                            <a href="{{ product.get_absolute_url }}">#}
{#                                <img src="{{ product.img.url }}" class="container-image" alt="{{ product.name }}-IMAGE">#}
{#                                <div class="content-texts">#}
{#                                    <h4 class="content-titles">{{ product.name }}</h4>#}
{#                                    <p class="content-paragraph">{{ product.description|truncatewords:10 }}</p>#}
{#                                </div>#}
{#                            </a>#}
{#                        </div>#}
{#                    {% empty %}#}
{#                        <p class="alert-no-item">متاسفانه محتوایی برای نمایش وجود ندارد</p>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#                    </div>#}
{##}
{#            {% if pagin.page_obj %}#}
{#                <div class="pagination">#}
{#                    <ul>#}
{#                        {% if pagin.before_previous_page != False %}#}
{#                            <li class="pagination-item">#}
{#                                <a href="{% url 'search' %}page/{{ pagin.before_previous_page.number }}/?search={{ search }}">#}
{#                                {{ pagin.before_previous_page.number|to_persian }}#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                        {% if pagin.previous_page != False %}#}
{#                            <li class="pagination-item">#}
{#                                <a href="{% url 'search' %}page/{{ pagin.previous_page.number }}/?search={{ search }}">#}
{#                                {{ pagin.previous_page.number|to_persian }}#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                        <li class="pagination-item disabled"><a href="#">{{ pagin.this_page.number|to_persian }}</a></li>#}
{#                        {% if pagin.next_page != False %}#}
{#                            <li class="pagination-item">#}
{#                                <a href="{% url 'search' %}page/{{ pagin.next_page.number }}/?search={{ search }}">#}
{#                                {{ pagin.next_page.number|to_persian }}#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                        {% if pagin.after_next_page != False %}#}
{#                            <li class="pagination-item">#}
{#                                <a href="{% url 'search' %}page/{{ pagin.after_next_page.number }}/?search={{ search }}">#}
{#                                {{ pagin.after_next_page.number|to_persian }}#}
{#                                </a>#}
{#                            </li>#}
{#                        {% endif %}#}
{#                    </ul>#}
{#                </div>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#    <footer class="footer">#}
{#        <div class="footer-text">#}
{#            <h5 class="footer-title">فروشگاه آنلاین محصول نت قروشگاه تنقلات خشکبار و شیرینی</h5>#}
{#                        <p class="footer-paragraph">میتوانید انواع شیرینی ها و انواع تنقلات با برند مختلف و انواع خشکبار را#}
{#                خریداری کنید و با بالا ترین سرعت به دستتان میرسد</p>#}
{#        </div>#}
{#        <ul class="footer-item-list">#}
{#            <li class="footer-item"><a href="">تماس با ما</a></li>#}
{#            <li class="footer-item"><a href="">درباره ما</a></li>#}
{#        </ul>#}
{#    </footer>#}
{#</body>#}
{#</html>#}