{% extends "admin_panel_based/based.html" %}
{% load static %}
{% block title %}پروفایل{% endblock %}
{% block style %}    <link rel="stylesheet" href="{% static "registeration/styles/profile.css" %}">{% endblock %}
{% block content %}
     <form method="post" action="">
                {% csrf_token %}
                <div class="row row-1">
                    <div class="username-container">
                        <label for="username-box" class="label-based text-username-label">{{ form.username.label }}</label>
{#                        <input type="text" class="textbox-based textbox-normal-size" id="username-box" name="username">#}
                        {{ form.username }}
                        <span class="validator-based username-validator">{{ form.username.errors|first }}</span>
                    </div>

                    <div class="email-container">
                        <label for="email-box" class="label-based text-email-label">{{ form.email.label }}</label>
{#                        <input type="text" class="textbox-based textbox-normal-size" id="email-box" name="email">#}
                        {{ form.email }}
                        <span class="validator-based email-validator">{{ form.email.errors|first }}</span>
                    </div>
                </div>
                <div class="row row-2">

                    <div class="first-name-container">
                        <label for="first-name-box" class="label-based text-first-name-label">{{ form.first_name.label }}</label>
{#                        <input type="text" class="textbox-based textbox-normal-size" id="first-name-box" name="first-name">#}
                        {{ form.first_name }}
                        <span class="validator-based first-name-validator">{{ form.first_name.errors|first }}</span>
                    </div>

                    <div class="last-name-container">
                        <label for="last-name-box" class="label-based text-last-name-label">{{ form.last_name.label }}</label>
{#                        <input type="text" class="textbox-based textbox-normal-size" id="last-name-box" name="last-name">#}
                        {{ form.last_name }}
                        <span class="validator-based last-name-validator">{{ form.last_name.errors|first }}</span>
                    </div>
                </div>
                <div class="row-3">
                    <button class="btn btn-submit">تغییر اطلاعات کاربری</button>
                    <a class="btn btn-change-password" href="{% url 'accounts:change_password' %}">برای تغییر گذرواژه کلیک کنید</a>
                </div>
        </form>
{% endblock %}