*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1c1c25;
    width: 100%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle{
    width: 600px;
    height: 600px;
    background-image: linear-gradient(rgb(138, 242, 213), rgb(0, 43, 102));
    border-radius: 100%;
    position: absolute;
    left: 40%;
}
.card-box{
    max-width: 500px;
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, .15);
    z-index: 3;
    backdrop-filter: blur(26px);
    border-radius: 22px;
    padding: 32px;
    border: 5px solid rgba(255,255,255,.2);
}

.logo{
    text-align: right;
}

.number-card{
    font-weight: 600;
    font-size: 1.8rem;
    color: #fff;
    margin: 1.1rem 0;
}

.info{
    display: flex;
    justify-content: space-between;
    color: #fff;
}