{% load static %}
    <nav class="navbar">
        <input type="checkbox" id="chk-navbar">
        <div class="items">
            <div class="logo">
                <img src="{% static "index/img/logo-black-bold.png" %}" alt="">
            </div>
            <ul class="nav-link-list">
                <li class="nav-link"><a href="{% url 'index' %}">صفحه اصلی</a></li>
                <li class="nav-link"><a href="{% url 'collection' %}">دسته بندی</a></li>
                {% if request.user.is_superuser %}
                    <li class="nav-link"><a href="{% url 'products:create_shop_admin' %}">اضافه کردن فروشگاه</a></li>
                    <li class="nav-link"><a href="{% url 'accounts:contract_us_list' %}">بازخورد ها</a></li>
                    <li class="nav-link"><a href="{% url 'accounts:logout' %}">خروج</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="nav-search">
            <form action="{% url 'search' %}" method="get">
                <button class="search-btn"><i class="fa fa-search"></i></button>
                <input type="search" class="search-input">
            </form>
            <div class="nav-aco">
                <label for="chk-navbar" class="chk-navbar-label"><i class="fa fa-bars"></i></label>
            </div>
        </div>
    </nav>