        <input type="checkbox" checked class="admin-sidebar-checkbox" id="admin-checkbox">
        <div class="admin-panel-sidebar">
            <div class="admin-panel-sidebar-group">
                <label for="admin-checkbox" class="admin-sidebar-checkbox-label"><i class='fa fa-angle-double-left'></i></label>
                <ul>
                    <li class="admin-panel-sidebar-item {% if request.resolver_match.url_name == "profile" %}active{% endif %}">
                        <a href="{% url 'accounts:profile' %}"><i class="fa fa-user admin-sidebar-icon"></i><span>پروفایل</span></a>
                    </li>
                    {% if request.user.is_superuser or request.user.is_seller and request.user.shop %}
                        <li class="admin-panel-sidebar-item {% if request.resolver_match.url_name == "view_shop" %}active{% endif %}">
                            <a href="{% url 'products:view_shop' %}"><i class="fa fa-shopping-cart admin-sidebar-icon"></i><span>فروشگاه من</span></a>
                        </li>
                        <li class="admin-panel-sidebar-item {% if request.resolver_match.url_name == "list_product" %}active{% endif %}">
                            <a href="{% url 'products:list_product' %}"><i class="fa fa-list-alt admin-sidebar-icon"></i><span>محصولات من</span></a>
                        </li>
                        <li class="admin-panel-sidebar-item {% if request.resolver_match.url_name == "create_product" %}active{% endif %}">
                            <a href="{% url 'products:create_product' %}"><i class="fa fa-cart-plus admin-sidebar-icon"></i><span>اضافه کردن محصول</span></a>
                        </li>
                    {% endif %}
                    {% if not request.user.is_seller and not request.user.is_superuser and not request.user.is_near_seller %}
                        <li class="admin-panel-sidebar-item {% if request.resolver_match.url_name == "list_product_cart" %}active{% endif %}">
                            <a href="{% url 'products:list_product_cart' %}"><i class="fa fa-shopping-cart admin-sidebar-icon"></i><span>سبد خرید</span></a>
                        </li>
                        <li class="admin-panel-sidebar-item {% if request.resolver_match.url_name == "ticket" %}active{% endif %}">
                            <a href="{% url 'accounts:ticket' %}"><i class="fa fa-ticket admin-sidebar-icon"></i><span>تیکت</span></a>
                        </li>
                    {% endif %}
                    {% if request.user.is_near_seller %}
                        <li class="admin-panel-sidebar-item {% if request.resolver_match.url_name == "ticket_user_accept" %}active{% endif %}">
                            <a href="{% url 'accounts:ticket_user_accept' %}"><i class="fa fa-ticket admin-sidebar-icon"></i><span>تیکت</span></a>
                        </li>
                    {% endif %}
{#                    <li class="admin-panel-sidebar-item"><a href=""><i class="fa fa-search admin-sidebar-icon"></i><span>آیتم1</span></a></li>#}
{#                    <li class="admin-panel-sidebar-item"><a href=""><i class="fa fa-search admin-sidebar-icon"></i><span>آیتم2</span></a></li>#}
                    {% if not request.user.is_superuser %}
                        <li class="admin-panel-sidebar-item"><a href="{% url "accounts:logout" %}"><i class="fa fa-sign-out admin-sidebar-icon"></i><span>خروج</span></a></li>
                    {% endif %} 
                    {% if request.user.is_superuser %}
                        
                        <li class="admin-panel-sidebar-item {% if request.resolver_match.url_name == "ticket_list" %}active{% endif %}">
                            <a href="{% url 'accounts:ticket_list' %}"><i class="fa fa-ticket admin-sidebar-icon"></i><span>تیکت</span></a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>