{% extends "admin_panel_based/based.html" %}
{% load static %}
{% load to_persian_number %}

{% block title %}
	بازخورد ها
{% endblock %}

{% block style %}
	    <link rel="stylesheet" href="{% static 'footer/contract_us_detail.css' %}">
{% endblock %}

{% block content %}
    {% if pagin.page_obj %}
        <div class="comment-view-messages">
            {% for feedback in pagin.this_page.object_list %}
                <div class="comment-message white">
                    <div class="comment-message-username">{{ feedback.name }}</div>
                    <span class="comment-message-text">{{ feedback.description }}</span>
                    <span class="comment-message-datetime" style="direction: rtl">{{ feedback.created_at|timesince }}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if pagin.page_obj %}
        <div class="pagination">
            <ul>
                {% if pagin.before_previous_page != False %}
                    <li class="pagination-item">
                        <a href="{% url 'accounts:contract_us_list' page=pagin.before_previous_page.number %}">
                        {{ pagin.before_previous_page.number|to_persian }}
                        </a>
                    </li>
                {% endif %}
                {% if pagin.previous_page != False %}
                    <li class="pagination-item">
                        <a href="{% url 'accounts:contract_us_list' page=pagin.previous_page.number %}">
                        {{ pagin.previous_page.number|to_persian }}
                        </a>
                    </li>
                {% endif %}
                <li class="pagination-item disabled"><a href="#">{{ pagin.this_page.number|to_persian }}</a></li>
                {% if pagin.next_page != False %}
                    <li class="pagination-item">
                        <a href="{% url 'accounts:contract_us_list' page=pagin.next_page.number %}">
                        {{ pagin.next_page.number|to_persian }}
                        </a>
                    </li>
                {% endif %}
                {% if pagin.after_next_page != False %}
                    <li class="pagination-item">
                        <a href="{% url 'accounts:contract_us_list' page=pagin.after_next_page.number %}">
                        {{ pagin.after_next_page.number|to_persian }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}