*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Sahel;
    background-color: white;
}

a{
    font-family: Sahel;
    text-decoration: none;
    color: #464646;
}

ul{
    list-style-type: none;
}

label{
    font-weight: 500;
    font-size: 20px;
    color: #464646;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 0 11px #bdbdbd;
}

.navbar .items .nav-link-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 70%;
}



.nav-link{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 25px;
    /* align-self: center; */
    transition: all .2s;
    height: 30px;
}

.nav-link.sub-menu:hover > .sub-menu-list{
    pointer-events: visible;
    visibility: visible;
    opacity: 1;
    transition: all 200ms ease-in-out;
}

.nav-link:hover{
    transform: translateY(2px);
    padding-bottom: 14px;

}

.nav-link::after{
    content: "";
    border-bottom: 2px solid #BD3333;
    display: block;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    padding-bottom: 3px;
}


.nav-link:hover::after{
    transform: scaleX(1);
}


.sub-menu-list{
    background-color: #ffffff;
    box-shadow: 1px 1px 7px #3b3b3b;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    width: 150px;
    height: 300px;
    border-radius: 15px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

}


.nav-link.sub-menu{
    position: relative;

}

.submenu-link a{
    padding: 10px 20px;
    transition: all 252ms;
    border-radius: 10px;
    color: #464646;
    font-size: 18px;
}

.submenu-link a:hover{
    background-color: white;
    color: #BD3333;
    box-shadow: 0 0 7px #9d9d9d;
}



.nav-search{
    width: 30%;
    max-width: 450px;
    height: 75%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.nav-search form{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5%;
    height: 100%;
}

.search-input{
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: solid #464646 2.5px;
    padding: 0 5px;
    outline: 2px solid white;
    transition: all 220ms;
}

.search-input:focus{
    outline: 2px solid rgba(189, 51, 51, 0.5);
    border: solid #BD3333 2.5px;
}

.search-btn{
    width: 10%;
    height: 100%;
    border:none;
    background-color: transparent;
    cursor: pointer;
}

.search-btn i{
    font-size: 30px;
    transition: all .25s;
    padding: 9px;
    border-radius: 5px;
    outline: 2px solid #464646;
}

.search-btn i:hover{
    color: #dadada;
    background-color: #464646;
}

.items{
    display: flex;
    width: 40%;
    justify-content: space-between;
    max-width: 1200px;
}

.logo{
    width: 20%;
    align-self: center;
    padding: 5px 5px 0 0;
    cursor: pointer;
}

.logo img{
    width: 150px;
}

.admin-panel{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.admin-panel-sidebar-group{
    margin-bottom: 800px;
    position: fixed;
    height: 75vh;
    width: 17%;
}



.admin-panel-sidebar-group ul{
    background: #464646;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 17%;
    margin: 30px 0 0 0;
    align-items: center;
    border-radius: 82px 0px 0px 82px;
    position: fixed;
    transition: all .5s;
}


.admin-sidebar-checkbox-label{
    position: absolute;
    top: 45%;
    z-index: 5;
    left: -7%;
    background-color: #fff;
    font-size: 35px;
    color: #464646;
    border: 4px solid #464646;
    padding: 7px;
    border-radius: 10px;
    transform: rotate(180deg);
    transition: all .3s;
    cursor: pointer;
    /*transform: translateY(-50%);*/
}

.admin-sidebar-checkbox-label:hover{
    background-color: #BD3333;
    color: white;
}

.admin-sidebar-checkbox{
    display: none;
}

.admin-panel-sidebar-item a{
    display: flex;
    align-items: center;
    padding: 10px 17px;
    transition: all .3s;
    border-radius: 7px;
    /*background-color: white;*/
    color: white;
}

.admin-panel-sidebar-item.active a{
    background-color: #BD3333;
    color: white;
    pointer-events: none;
}

.admin-panel-sidebar-item a:hover{
    background-color: #BD3333;
    color: white;
}

.admin-panel-sidebar-item span{
    margin-right: 7px;
    font-size: 21px;
}

.admin-sidebar-icon{
    font-size: 36px;
}

.admin-panel-content{
    width: 77%;
    min-height: 80vh;
    background: #fff;
    margin: 25px 3%;
    border-radius: 12px;
    transition: all .3s;
    box-shadow: 0 5px 25px #bdbdbd;
    padding: 20px;
}


.admin-sidebar-checkbox:checked + .admin-panel-sidebar div label{
    transform: rotate(0deg);
    left: 34%;
    /*transform: translateY(-50%);*/
}

.admin-sidebar-checkbox:checked + .admin-panel-sidebar div ul{
    width: 10%;
}

.admin-sidebar-checkbox:checked + .admin-panel-sidebar div ul span{
    opacity: 0;
    display: none;
}
.admin-sidebar-checkbox:checked + .admin-panel-sidebar+.admin-panel-content{
    width: 85%;
}

.admin-panel-content form{
    width: 100%;
}

.row{
    position: relative;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.row div{
    width: 45%;
}

.textbox-based{
    border-radius: 10px;
    border: solid 2px #464646;
    outline: solid 3px transparent;
    transition: all .2s ease-in-out;
    padding: 0 5px;
    font-size: 18px;
    height: 60px;

}

.textbox-based:hover{
    background-color: rgba(70, 70, 70, 0.1);
}

.textbox-based:focus{
    outline: solid 3px rgba(189, 51, 51, 0.4);
    border: solid 2px #BD3333;
}

.textbox-normal-size{
    width: 100%;
}

.validator-based{
    color: #d70202;
    position: absolute;
    font-weight: 700;
}

.label-based{
    position: absolute;
}

.username-validator{
    top: 74%;
    right: 4%;
}
.text-confirm-password-label{
    top: 10%;
    right: 27%;
}

.confirm-password-validator{
    top: 74%;
    right: 27%;
}
.email-validator, .last-name-validator{
    top: 74%;
    right: 54%;
}

.text-username-label, .text-first-name-label{
    top: 10%;
    right: 2%;
}

.text-email-label, .text-last-name-label{
    top: 10%;
    right: 52%;
}

.row-3{
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn{
    font-family: Sahel;
    text-align: center;
    cursor: pointer;
    background-color: #BD3333;
    color: white;
    border-radius: 5px;
    display: inline-block;
    width: 35%;
    height: 50px;
    transition: all 350ms;

}
.btn-submit{
    border: none;
    font-size: 17px;
}

.btn-change-password{
    padding-top: 14px;
}

.btn:hover{
    background-color: #464646;
}