{% load static %}
{% load to_persian_number %}
<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>درباره ی ما</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "fonts/sahel-font-v3.4.0/sahel-fonts.css" %}">
    <link rel="stylesheet" href="{% static "footer/about_us.css" %}">
    {% include "inc/main_site/navbar_footer_link.html" %}
</head>
<body>
    
    {% include "inc/main_site/navbar.html" %}

    <div class="main-container">
        <div class="about-us-container">
            <div class="description-container">
                <img src="{% static "registeration/img/logo-lightgreen.png" %}" alt="Logo-MahsoulNet">
                <p>یک فروشگاه عالی برای خرید آجیل عید و تمامی مناسبت هایتان را بر روی اینترنت قرار دادیم.<br>ما در تلاشیم که بهترین خشکبار و تنقلات و شیرینی را در اقصی نقاط ایران به دست شما برسانیم و یک سامانه ای بهینه شده برای فروشگاه های خشکبار ایران بسازیم که علاوه بر مشتریان حضوری مشتریان آنلاین هم داشته باشند.</p>
            </div>
            <div class="products-container">
                <div class="products-container-section">
                    <span class="deatils-products">فروشگاه</span>
                    <span class="count-products">{{ shops_count|to_persian }}</span>
                </div>
                <div class="products-container-section">
                    <span class="deatils-products">محصولات</span>
                    <span class="count-products">{{ product_count|to_persian }}</span>
                </div>
                <div class="products-container-section">
                    <span class="deatils-products">شهر</span>
                    <span class="count-products">{{ city_count|to_persian }}</span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>