*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Sahel;
    background-color: #ffffff;
}

a{
    font-family: Sahel;
    text-decoration: none;
    color: #464646;
    cursor: pointer;
}

select, button{
    font-family: Sahel;
}

ul{
    list-style-type: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0 0 15px #bdbdbd;
}

.navbar .items .nav-link-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 70%;
}



.nav-link{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 25px;
    /* align-self: center; */
    transition: all .2s;
    height: 30px;
}

.nav-link.sub-menu:hover > .sub-menu-list{
    pointer-events: visible;
    visibility: visible;
    opacity: 1;
    transition: all 200ms ease-in-out;
}

.nav-link:hover{
    transform: translateY(2px);
    padding-bottom: 14px;

}

.nav-link::after{
    content: "";
    border-bottom: 2px solid #BD3333;
    display: block;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    padding-bottom: 3px;
}


.nav-link:hover::after{
    transform: scaleX(1);
}


.sub-menu-list{
    background-color: #ffffff;
    box-shadow: 1px 1px 7px #3b3b3b;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    width: 150px;
    height: 300px;
    border-radius: 15px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

}


.nav-link.sub-menu{
    position: relative;

}

.submenu-link a{
    padding: 10px 20px;
    transition: all 252ms;
    border-radius: 10px;
    color: #464646;
    font-size: 18px;
}

.submenu-link a:hover{
    background-color: white;
    color: #BD3333;
    box-shadow: 0 0 7px #9d9d9d;
}



.nav-search{
    width: 30%;
    max-width: 450px;
    height: 75%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.nav-search form{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 5%;
    height: 100%;
}

.search-input{
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: solid #464646 2.5px;
    padding: 0 5px;
    outline: 2px solid white;
    transition: all 220ms;
}

.search-input:focus{
    outline: 2px solid rgba(189, 51, 51, 0.5);
    border: solid #BD3333 2.5px;
}

.search-btn{
    width: 10%;
    height: 100%;
    border:none;
    background-color: transparent;
    cursor: pointer;
}

.search-btn i{
    font-size: 30px;
    transition: all .25s;
    padding: 9px;
    border-radius: 5px;
    outline: 2px solid #464646;
}

.nav-aco{
    display: none;
}

#chk-navbar{
    display: none;
}

.chk-navbar-label{
    display: none;
}


.search-btn i:hover{
    color: #dadada;
    background-color: #464646;
}

.items{
    display: flex;
    width: 40%;
    justify-content: space-between;
    max-width: 1200px;
}

.logo{
    width: 20%;
    align-self: center;
    padding: 5px 5px 0 0;
    cursor: pointer;
}

.logo img{
    width: 150px;
}

.collection-container{
    width: 90%;
    display: flex;
    height: 85vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.collection-item{
    width: 320px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 1px 2px 43px #a2a2a2;
    cursor: pointer;
    transition: all .4s;
}

.collection-item:hover{
    transform: scale(105%);
    box-shadow: 1px 2px 42px #6b6b6b;

}

.collection-item img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 15px;
}


@media only screen and (max-width: 1024px) {
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        box-shadow: 0 0 15px #bdbdbd;

    }

    .navbar .items .nav-link-list{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        list-style: none;
        align-items: center;
        gap: 18px;
        width: 25%;
        position: fixed;
        background-color: #464646;
        color: white;
        padding: 20px 10px;
        right: -25%;
        top: 0;
        height: 100%;
        transform: unset;
        transition: all 250ms;
        z-index: 1;
    }


    .nav-link.sub-menu > a{
        display: none;
    }
    .nav-link{
        border-bottom: 2px solid transparent;
        padding-bottom: 25px;
        /* align-self: center; */
        transition: all .2s;
        height: 30px;

    }

    .nav-link a{
        color: white;
    }

    .nav-link.sub-menu:hover > .sub-menu-list{
        pointer-events: visible;
        visibility: visible;
        opacity: 1;
        transition: all 200ms ease-in-out;
    }

    .nav-link:hover{
        transform: unset;
        padding-bottom: 14px;

    }


    .nav-link.sub-menu:hover{
        transform: unset;
        padding-bottom: 0;

    }

    .nav-link.sub-menu:hover{
        transform: unset;
        padding-bottom: 0;

    }
    .nav-link::after{
        content: "";
        border-bottom: 2px solid #BD3333;
        display: inline;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        padding-bottom: 3px;
    }


    .nav-link:hover::after{
        transform: scaleX(0);
    }

    .nav-link.sub-menu:hover::after{
        transform: scaleX(0);
    }

    .sub-menu-list{
        background-color: #464646;
        color: white;
        box-shadow: none;
        position: unset;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        /*top: 0;*/
        /*right: 0;*/
        transform: none;
        width: 150px;
        height: 100%;
        border-radius: 15px;
        pointer-events: visible;
        visibility: visible;
        opacity: 1;
        color: #464646;
        transform: unset;


    }


    .nav-link.sub-menu{
        position: unset;
        width: 100%;
        height: 100%;
        position: unset;
        width: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .submenu-link a{
        padding: 10px;
        transition: all 252ms;
        border-radius: 10px;
        color: #fff;
        font-size: 18px;
    }

    .submenu-link a:hover{
        background-color: white;
        color: #BD3333;
        box-shadow: 0 0 7px #9d9d9d;
    }

    .nav-search{
        width: 45%;

        max-width: 450px;
        height: 75%;
        padding-left: 10px;
        display: flex;
        align-items: center;
    }

    .nav-search form{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 5%;
        height: 100%;
    }

    .search-input{
        width: 80%;
        height: 100%;
        border-radius: 10px;
        border: solid #464646 2.5px;
        padding: 0 5px;
        outline: 2px solid white;
        transition: all 220ms;
    }

    .search-input:focus{
        outline: 2px solid rgba(189, 51, 51, 0.5);
        border: solid #BD3333 2.5px;
    }

    .search-btn{
        width: 10%;
        height: 100%;
        border:none;
        background-color: transparent;
        cursor: pointer;
    }

    .search-btn i{
        font-size: 30px;
        transition: all .25s;
        padding: 9px;
        border-radius: 5px;
        outline: 2px solid #464646;
    }

    .search-btn i:hover{
        color: #dadada;
        background-color: #464646;
    }

    .items{
        display: flex;
        width: 45%;
        justify-content: space-between;
        max-width: 1200px;
    }

    .logo{
        width: 20%;
        align-self: center;
        padding: 5px 5px 0 0;
        cursor: pointer;
    }

    .logo img{
        width: 150px;
    }

    .nav-aco{
        display: none;
    }
    .container-header{
        display: none;
    }

    .content-list{
        width: 100%;
        grid-template-rows: repeat(6,480px);
        grid-template-columns: repeat(2,35%);
        justify-content: space-evenly;
        padding: 0;
        padding-right: 0;
    }
    .nav-aco{
        display: inline;
    }
    .chk-navbar-label{
        display: inline;
        font-size: 30px;
        cursor: pointer;
        padding: 5px 13px;
        border-radius: 5px;
        transition: all 250ms;
    }
    #chk-navbar:checked + .items+.nav-search .nav-aco .chk-navbar-label{
        background-color: #464646;
        color: white;
    }

    #chk-navbar:checked + .items .nav-link-list{
        right: 0;
    }
    #chk-navbar:checked + .items .nav-link-list {
        right: 0;
        z-index: 1;
    }

    .collection-container {
        width: 90%;
        display: flex;
        height: 85vh;
        justify-content: space-evenly;
        align-items: center;
        margin: 36px auto;
        flex-wrap: wrap;
        gap: 39px;
    }
}

@media only screen and (max-width: 768px) {
    .based-top-3-section{
        display: none;
    }
    .main-content{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        margin: 50px 0;
        flex-direction: column;
        align-items: center;
    }
    .main-section{
        width: 90%;
        margin: 40px 0;
        align-self: center;
        justify-content: center;
        align-items: center;
        display: flex
    }

    .filter-product-section{
        width: 67%;
    }

    .content-list{
        width: 100%;
        grid-template-rows: repeat(12,480px);
        grid-template-columns: repeat(1,100%);
        justify-content: flex-end;
        padding: 0;
        padding-right: 0;
        align-items: center;
    }
    .container-image {
        object-fit: cover;
        width: 325px;
        height: 282px;
        border-radius: 5px;
        box-shadow: 1px 2px 10px #bdbdbd;
    }
    .content-box{
        width: 351px;
        height: 419px;
        align-self: center;
        justify-self: center;
    }

    .nav-search {
        justify-content: flex-end;
        width: 20%;
    }
    .nav-search form{
        display: none;
    }

    .sub-menu-list {
        background-color: #464646;
        color: white;
        box-shadow: none;
        position: unset;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        /* top: 0; */
        /* right: 0; */
        transform: none;
        width: 100%;
        height: 46%;
        border-radius: 15px;
        pointer-events: visible;
        visibility: visible;
        opacity: 1;
        color: #464646;
        transform: unset;
    }
    .nav-link.sub-menu {
        height: 46%;
    }
    .footer {
        background-color: #464646;
        height: 600px;
        width: 100%;
        padding: 25px;
        display: flex;
        justify-content: flex-start;
        color: white;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
    .navbar .items .nav-link-list{
        width: 31%;
        right: -31%;
    }
}