{% extends "admin_panel_based/based.html" %}

{% load to_persian_number %}
{% load static %}
{% block title %}محصولات من{% endblock %}
{% block style %}    <link rel="stylesheet" href="{% static "products/styles/product_list.css" %}">{% endblock %}
{% block content %}
  {% if pagin.page_obj %}
                <div class="product-list">
                    {% for product in pagin.this_page.object_list %}
                        <div class="product-item">
                        <div class="product-item-top">
                                <div class="product-main-container">
                                    <div class="product-name-is-active">
                                        <h4 class="product-name">{{ product.name }}</h4>
                                        <div class="shop-is-active {% if product.is_active %}active{% else %}disabled{% endif %}">
                                            {% if product.is_active %}
                                                <p class="is-active-text">در سایت وجود دارد</p>
                                            {% else %}
                                                <p class="is-active-text">در سایت وجود ندارد</p>
                                            {% endif %}
                                            <p class="is-active-lamp"></p>
                                        </div>
                                    </div>
                                    <p class="product-description">{{ product.description|truncatewords:80 }}</p>
                                </div>
                                <div class="product-image-price">
                                    <img src="{{ product.img.url }}" class="product-image">
                                    <h5 class="product-price">{{ product.price|to_persian_price }}<span class="price-toman-label"></span></h5>
                                </div>
                            </div>
                            <div class="product-item-bottom">
                                <div class="product-btn-container">
                                    {% if product.is_active %}
                                        <a href="{{ product.get_absolute_url }}" class="btn btn-read">نمایش در سایت</a>
                                    {% else %}
                                        <a href="{% url 'products:preview_product' product.slug %}" class="btn btn-read">پیش نمایش</a>
                                    {% endif %}
                                    <a href="{% url 'products:update_product' product.id %}" class="btn btn-update">بروزرسانی محتویات</a>
                                    <a href="{% url 'products:delete_product' product.id %}" class="btn btn-delete">حذف محصول</a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p class="empty-paragraph">هیچ محتوایی وجود ندارد!</p>
                    {% endfor %}

                </div>
            {% endif %}
            {% if pagin.this_page.object_list %}
                <div class="pagination">
                    <ul>
                        {% if pagin.before_previous_page != False %}
                            <li class="pagination-item">
                                <a href="{% url 'products:list_product' %}page/{{ pagin.before_previous_page.number }}/">
                                {{ pagin.before_previous_page.number|to_persian }}
                                </a>
                            </li>
                        {% endif %}
                        {% if pagin.previous_page != False %}
                            <li class="pagination-item">
                                <a href="{% url 'products:list_product' %}page/{{ pagin.previous_page.number }}/">
                                {{ pagin.previous_page.number|to_persian }}
                                </a>
                            </li>
                        {% endif %}
                        <li class="pagination-item disabled">
                            <a href="#">{{ pagin.this_page.number|to_persian }}</a>
                        </li>
                        {% if pagin.next_page != False %}
                            <li class="pagination-item">
                                <a href="{% url 'products:list_product' %}page/{{ pagin.next_page.number }}/">
                                {{ pagin.next_page.number|to_persian }}
                                </a>
                            </li>
                        {% endif %}
                        {% if pagin.after_next_page != False %}
                            <li class="pagination-item">
                                <a href="{% url 'products:list_product' %}page/{{ pagin.after_next_page.number }}/">
                                {{ pagin.after_next_page.number|to_persian }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

{% endblock %}