@font-face {
    font-family: Sahel;
    src: url('./Sahel.eot');
    src: url('./Sahel.eot?#iefix') format('embedded-opentype'),
    url('./Sahel.woff2') format('woff2'),
    url('./Sahel.woff') format('woff'),
    url('./Sahel.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('Sahel-Bold.eot');
    src: url('Sahel-Bold.eot?#iefix') format('embedded-opentype'),
    url('Sahel-Bold.woff2') format('woff2'),
    url('Sahel-Bold.woff') format('woff'),
    url('Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('Sahel-Light.eot');
    src: url('Sahel-Light.eot?#iefix') format('embedded-opentype'),
    url('Sahel-Light.woff2') format('woff2'),
    url('Sahel-Light.woff') format('woff'),
    url('Sahel-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Sahel;
    src: url('Sahel-SemiBold.eot');
    src: url('Sahel-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Sahel-SemiBold.woff2') format('woff2'),
    url('Sahel-SemiBold.woff') format('woff'),
    url('Sahel-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: Sahel;
    src: url('Sahel-Black.eot');
    src: url('Sahel-Black.eot?#iefix') format('embedded-opentype'),
    url('Sahel-Black.woff2') format('woff2'),
    url('Sahel-Black.woff') format('woff'),
    url('Sahel-Black.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: digikala;
    src: url(../toman/font/Digikala.eot);
    src: url(../toman/font/Digikala.eot?#iefix) format("eot"), url(../toman/font/Digikala.woff2) format("woff2"), url(../toman/font/Digikala.woff) format("woff"), url(../toman/font/Digikala.ttf) format("truetype")
}

@font-face {
    font-family: IRANYekan;
    src: url(../toman/font/699085bd.eot);
    src: url(../toman/font/699085bd.eot?#iefix) format("embedded-opentype"), url(../toman/font/a80f71ff.woff2) format("woff2"), url(../toman/font/088dfe8a.woff) format("woff"), url(../toman/font/2c83275a.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: IRANYekan;
    src: url(../toman/font/5bea6c32.eot);
    src: url(../toman/font/5bea6c32.eot?#iefix) format("embedded-opentype"), url(../toman/font/1fdcadec.woff2) format("woff2"), url(../toman/font/56a1baa4.woff) format("woff"), url(../toman/font/79533773.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 500;
    src: url(../toman/font/6a51276d.eot);
    src: url(../toman/font/6a51276d.eot?#iefix) format("embedded-opentype"), url(../toman/font/492984b8.woff) format("woff"), url(../toman/font/d41d8cd9.ttf) format("truetype")
}

@font-face {
    font-family: IRANYekan;
    src: url(../toman/font/7c912e00.eot);
    src: url(../toman/font/7c912e00.eot?#iefix) format("embedded-opentype"), url(../toman/font/fe12f13a.woff2) format("woff2"), url(../toman/font/2d7cc7cd.woff) format("woff"), url(../toman/font/a7d41f91.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: IRANYekan;
    src: url(../toman/font/cea3492e.eot);
    src: url(../toman/font/cea3492e.eot?#iefix) format("embedded-opentype"), url(../toman/font/1d9f5870.woff) format("woff"), url(../toman/font/f2ab2738.ttf) format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: YekanBakh;
    src: url(../toman/font/317d741e.eot);
    src: url(../toman/font/317d741e.eot?#iefix) format("embedded-opentype"), url(../toman/font/3229b50a.woff2) format("woff2"), url(../toman/font/bdb12b3e.woff) format("woff"), url(../toman/font/90168728.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: YekanBakh;
    src: url(../toman/font/d1d69b0c.eot);
    src: url(../toman/font/d1d69b0c.eot?#iefix) format("embedded-opentype"), url(../toman/font/371473d8.woff2) format("woff2"), url(../toman/font/c991dba9.woff) format("woff"), url(../toman/font/ca27cc42.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: IRANSans;
    src: url(../toman/font/a83daff6.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: IRANYekanDigits;
    src: url(../toman/font/48db5899.woff2) format("woff2"), url(../toman/font/7f9a1ba5.woff) format("woff"), url(../toman/font/cd07cd46.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

.price-toman-label::before {
    content: "\F06C\00FE0E";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5;
    width: 16px;
    height: 16px;
    font-family: digikala;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    line-height: 1;
    box-sizing: inherit;
}