{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>دسته بندی</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'fonts/sahel-font-v3.4.0/sahel-fonts.css' %}">
    <link rel="stylesheet" href="{% static 'index/styles/collection.css' %}">
    <link rel="stylesheet" href="{% static 'index/styles/navbar-footer.css' %}">
</head>
<body>
    {% include "index/../inc/main_site/navbar.html" %}

    <div class="collection-container">
        {% for category in categories %}
            <a href="{% url 'collection_details' id=category.id %}">
                <div class="collection-item">
                    {% if category.name == "خشکبار" %}
                        <img src="{% static "index/img/nuts-collection.jpg" %}" alt="nuts-collection">
                    {% elif category.name == "شیرینی" %}
                        <img src="{% static "index/img/sweet-collection.jpg" %}" alt="sweet-collection">
                    {% elif category.name == "تنقلات" %}
                        <img src="{% static "index/img/snacks-collection.jpg" %}" alt="snacks-collection">
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
</body>
</html>