    <footer class="footer">
        <div class="footer-text">
            <h5 class="footer-title">فروشگاه آنلاین محصول نت قروشگاه تنقلات خشکبار و شیرینی</h5>
            <p class="footer-paragraph">میتوانید انواع شیرینی ها و انواع تنقلات با برند مختلف و انواع خشکبار را خریداری کنید و با بالا ترین سرعت به دستتان میرسد</p>
        </div>
        <ul class="footer-item-list">
            <li class="footer-item"><a href="{% url 'contract_us' %}">تماس با ما</a></li>
            <li class="footer-item"><a href="{% url "about_us" %}">درباره ما</a></li>
        </ul>
    </footer>