{% load static %}
    <nav class="navbar">
        <input type="checkbox" id="chk-navbar">
        <div class="items">
            <div class="logo">
                <img src="{% static "index/img/logo-black-bold.png" %}" alt="">
            </div>
            <ul class="nav-link-list">
                <li class="nav-link"><a href="{% url 'index' %}">صفحه اصلی</a></li>
                <li class="nav-link"><a href="{% url 'collection' %}">دسته بندی</a></li>
                {% if request.user.is_authenticated %}
                    <li class="nav-link sub-menu">
                        <a href="">حساب کاربری</a>
                        <ul class="sub-menu-list">
                            <li class="submenu-link"><a href="{% url "accounts:profile" %}"> پروفایل</a></li>
                            {% if request.user.is_seller and request.user.shop or request.user.is_superuser %}
                                <li class="submenu-link"><a href="{% url 'products:list_product' %}"> محصولات من</a></li>
                                <li class="submenu-link"><a href="{% url "products:view_shop" %}"> فروشگاه من</a></li>
                            {% endif %}
                            {% if not request.user.is_seller and not request.user.is_superuser and not request.user.is_near_seller %}
                                <li class="submenu-link"><a href="{% url 'products:list_product_cart' %}"> سبد خرید</a></li>
                            {% endif %}
                            {% if request.user.is_near_seller %}
                                <li class="submenu-link">
                                    <a href="{% url 'accounts:ticket_user_accept' %}">تیکت</a>
                                </li>
                            {% endif %}
                            <li class="submenu-link"><a href="{% url 'accounts:logout' %}"> خروج</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-link"><a href="{% url "accounts:register" %}">ثبت نام</a></li>
                    <li class="nav-link"><a href="{% url 'accounts:login' %}">ورود</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="nav-search">
            <form action="{% url 'search' %}" method="get">
                <button class="search-btn"><i class="fa fa-search"></i></button>
                <input type="search" class="search-input" name="search">
            </form>
            <div class="nav-aco">
                <label for="chk-navbar" class="chk-navbar-label"><i class="fa fa-bars"></i></label>
            </div>
        </div>
    </nav>