{% load static %}
<!doctype html>
<html lang="fa" dir="rtl" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}ادمین پنل{% endblock %}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static "fonts/sahel-font-v3.4.0/sahel-fonts.css" %}">

        {% block style %}{% endblock %}
        <link rel="stylesheet" href="{% static "admin_panel_styles/based_styles.css" %}">
        <link rel="stylesheet" href="{% static 'admin_panel_styles/navbar-style.css' %}">
    </head>
    <body>
        {% include "inc/admin_panel/navbar.html" %}
        <div class="admin-panel">
            {% include "inc/admin_panel/sidebar.html" %}
            <div class="admin-panel-content">
               {% block content %}
               {% endblock %}
            </div>
        </div>

    </body>
</html>