{% extends "admin_panel_based/based.html" %}
{% load static %}

{% block title %}
	ارسال تیکت
{% endblock %}

{% block style %}
	    <link rel="stylesheet" href="{% static "tickets/styles/ticket_form_user.css" %}">
{% endblock %}

{% block content %}
     <div class="description-container">
         <h3 class="description-title">مشخصات مورد نیاز</h3>
         <ul class="description-list">
             <li class="description-item">نام فروشگاه آدرس کدپستی فروشگاه محصولات مورد نظر برای فروش </li>
             <li class="description-item">نام فروشنده شماره تلفن فروشنده کدملی فروشنده</li>
         </ul>
     </div>
     <form action="" method="post">
         {% csrf_token %}
         <label for="text-message-user" class="text-message-label">{{ form.user_text_message.label }}</label>
           {#<textarea name="user_text_message" id="text-message-user" class=""></textarea>#}
         {{ form.user_text_message }}
         <button class="btn" type="submit">ارسال تیکت</button>
     </form>
{% endblock %}